<h1><%= @application.name %></h1>
<h3><%= @application.street_address %></h3>
<h3><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h3>
<h3>Application Status: <%= @application.status %></h3>

<h2>Add a Pet to this Application!</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<br>

<h2>Why I would make a good home for a pet:</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description, size: '30x6' %>
  <br>
  <%= f.submit %>
<% end %>
