<h1><%= @application.name %></h1>
<p>Address: <br><%= @application.street_address %><br><%= @application.city %>, <%= @application.state %> <%= @application.zip_code%></p>

<p>Application Status: <br> -<%= @application.status %></p>

<h2>Add a Pet to this Application!</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <br>
  <%= f.text_field :search %>
  <br>
  <%= f.submit "Search" %>
<% end %>

<% if !@searched_pets.nil? then %>
  <% @searched_pets.each do |pet| %>
    <%= pet.name %><%= button_to 'Adopt this Pet', "/applications/#{@application.id}", method: :post, local: true, params: {application: "#{@application.id}", pet: "#{pet.id}"} %>
  <% end %>
<% end %>

<br>

<h2>Why I would make a good home for a pet:</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description, size: '30x6' %>
  <br>
  <%= f.submit %>
<% end %>
